

  
:root {
    --primary: #c48cc2;
    --bg-page: #edf1e6;
    --text-dark: #1a1a2e;
    --lightercol:rgb(201, 180, 241);
    --seccol:rgb(217, 211, 218);
  }
  

  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  main {
    display: grid;
    grid-template-columns:  1fr;
    gap: 35px;
    padding:70px 50px;
    width: 100%;
  }

  section{
    background-color: var(--seccol);
    padding: 25px;
    border-radius: 9px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
    
  }


  body {
    height: 100%;
    width: 100%;
   
    background-color: var(--bg-page);
    color: var(--primary);
    line-height: 1.5;

}
  header{
    background-color: var(--lightercol);
    color: rgb(242, 235, 235);
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
input[type="text"],textarea, input[type="file"]{
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 120px;

resize: none;
    box-sizing: border-box;
}

input:focus, textarea:focus{
    border-color: var(--text-dark);
    box-shadow: 0 0 5px rgba(52, 87, 127, 0.3);
outline: none;

}


button{
    background-color: var(--primary);
    color: #ffffff;
    padding: 10px 20px;
    border: none ;
    border-radius: 5px;
    cursor: pointer;
    font-size: 11px;
    
}


button:hover{
    filter: brightness(1.2);
}


nav{
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
}

  button {
    background-color:rgb(123, 111, 151);
  }


  .header-content {
    display: flex;
    justify-content: space-between; /* pushes children to opposite ends */
    align-items: center;            /* vertically centers them */
  }


  



